html, body{

	height:100%;
	width: 100%;
}

main{
	display: flex;
	align-items: center;
	/* justify-content: column-reverse; */
	flex-direction: column;
}

.video-div{

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	margin: 20px;
}

.video-window{
	
	width: 80%;
	height: auto;
	border: red 1px solid;
}

.video-options{
	
	display: flex;
	width: 80%;
	justify-content: space-around;

	margin: 10px;
}

.insertURL{

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	margin-top: 10px;
	border: red 1px solid;
	/*num sei centralizar div hihi*/
}

.urlVideo{
	display: flex;
	flex-direction: row;
}

/*
@media (min-width: 0px) {
	html, body{
		width:80%;
		width:100%;
	}
	main{
		height: 100%;

		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}
*/
