html, body{

	height:100%;
	width: 100%;

	margin: 0px;
}

main{
	display: flex;
	align-items: center;
	/* justify-content: column-reverse; */
	flex-direction: column;
}

.video-div{

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	margin: 20px;
}

.video-window{
	
	width: 80%;
	height: auto;
	border: red 1px solid;
}

.video-options{
	
	display: flex;
	width: 80%;
	justify-content: space-around;

	margin: 10px;
}

.insertURL{

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	margin-top: 10px;
	border: red 1px solid;

	width: 90%;
}

.mainVid{
	display: flex;
	flex-direction: column;

	width: 100%;
}

.input {
	font-size: 1.5em;

	height:50%;
	padding: 15px;
}
